@model List<Complaint>
@{
    ViewData["Title"] = "ComplaintList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content mt-3">
      <div class="container-fluid">
        <div class="row">
        <div class="col-2"></div>
          <div class="col-10">
              @if (Model.Count == 0)
    {
    <div class="alert alert-danger"> Her Hangi Bir Şikayet Yok.</div>
     }
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Herhangi Bir Veri Bulunamdı.</h3>
              </div>
              <!-- /.card-header -->
                    @if(Model.Count > 0)
                    {
                         <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>İsim</th>
                    <th>Departman</th>
                    <th>Dosya Url</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  @foreach (var item in Model)
                 {
                  <tr>
                    <td>@item.Name</td>
                    <td>@item.Department.Name</td>
                    <td><a target=”_blank” href="~/Files/@item.FileUrl">@(@item.FileUrl==null?"Dosya Eklenmemiş":"Dosyayı Aç")</a></td>
                    <td><p class="btn btn-outline-@(item.Approval==true?"success":"danger")">@(item.Approval==true?"Onaylandı":"Onaylanmadı")</p></td>
                    <td><a asp-controller="Home" asp-action="ComplaintDetails" asp-route-id="@item.Id"><button class=" btn btn-outline-success">Detay</button></a></td>
                    <td><a asp-controller="Home" asp-action="ComplaintUpdate" asp-route-id="@item.Id"><button class=" btn btn-outline-warning">Güncelle</button></a></td>
                    <td><a asp-controller="Home" asp-action="ComplaintDelete" asp-route-id="@item.Id"><button class=" btn btn-outline-danger">Sil</button></a></td>
                  </tr>
                 }
                 
                  </tbody>
                </table>
              </div>
                    }
                    <!-- /.card-body -->
            </div>
            </div>
            </div>
            </div>
   </section>>

  
